/**
  |============================
  | include css partials with
  | default @import url()
  |============================
 */
@import url(./reset.css);
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}
.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.input {
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 371px;
  height: 40px;
}
.form-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  padding: 0%;
}
.loader {
  display: block;
  position: relative;
  height: 10px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #4b4a4a;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
